html, body {
    padding: 0;
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

#overlay {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8cb369;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}